/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .ftgt-block-main-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    flex-wrap: wrap;
}
.ftgt-block-box-col {
    padding: 0 15px !important;
    margin-bottom: 25px !important;
 /*   flex: 0 0 25% !important; */
    width: 50% !important;
}
.ftgt-block-main-box {
    max-width: 100%;
    width: 100%;
    background: #d4f6e5;
    padding: 25px;
    border-radius: 0px 35px 35px 35px;
    transition: 0.3s all;
    margin: 0;
    height: 100%;
    min-width: inherit !important;
}
.ftgt-block-main-box:hover{
    border-radius: 35px 35px 0 35px;
}
.ftgt-block-main-box h2{
    margin: 0;
    color: #004f47;
    position: relative;
    padding-bottom: 20px;
    line-height: 1.4em;
    font-family: "Sora", Sans-serif !important;
    font-size: 12px !important;
    font-weight: 400 !important;
}
.ftgt-block-main-box h2::after{
    content: "";
    position: absolute;
    width: 91px;
    height: 2px;
    background-color: #26d07c;
    bottom: 0;
    left: 0;
}
.ftgt-block-main-box p {
    padding: 0;
    color: #1f8065;
    font-family: "Sora", Sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding: 20px 0;
    text-align: left;
    word-break: break-all;
}
.ftgt-block-main-box a {
    padding: 0 0 0 0;
    color: #004f47;
    text-decoration: none;
    font-family: "Sora", Sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.ftgt-block-main-box a:hover{
    color: #ff593e
}

@media only screen and (max-width: 991px) {
.ftgt-block-box-col {
    width: 33.33% !important;
    flex: 0 0 33.33% !important;
}
}

@media only screen and (max-width: 767px) {
    .ftgt-block-box-col {
        width: 50% !important;
        flex: 0 0 50% !important;
    }


@media only screen and (max-width: 575px) {
    .ftgt-block-box-col {
        width: 100% !important;
        flex: 0 0 100% !important;
    }
}